<% provide(:title, 'Content') %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Content</h1>
<p>
  Get content
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
</body>
</html>